    <%- include("../components/header") %>
    <h1>Welcome to <%= title %></h1>
    <p class="text-red" >This is an example of rendering EJS templates with Express.</p>
    <%- include("../components/footer") %>

