<%- include("../components/header") %>
        <h1>Welcome to <%= title %></h1>
        <form action="/api/login" method="post" >
            <%- include("../components/form/input", {placeholder: "ajsjdasj", name: "name"}) %>
            <button onclick="" > Login </button>
        </form>
<%- include("../components/footer") %>
